/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#define LEFT_KEYS \
    0 1 2 3 4 5 \
    12 13 14 15 16 17 \
    24 25 26 27 28 29 \
    36 37 38 39 40 41 42 \
    50 51 52 53 54

#define RIGHT_KEYS \
    6 7 8 9 10 11 \
    18 19 20 21 22 23 \
    30 31 32 33 34 35 \
    43 44 45 46 47 48 49 \
    55 56 57 58 59
//hsd
/ {
    behaviors {
        /* Tap: Sticky Shift, Hold: Layer Mo */
        mo_sk: momentary_sticky_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_SK";
            #binding-cells = <2>;
            
            /* 엄지 키에 적합한 flavor (빠르게 칠 때 레이어 오발동 방지) */
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;

            /* 첫 번째 파라미터는 Hold(&mo), 두 번째 파라미터는 Tap(&sk) */
            bindings = <&mo>, <&sk>;
        };
        hmr_l: hmr_l {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <50>;
            flavor = "balanced";
            hold-trigger-key-positions = <RIGHT_KEYS>;
        };
        hmr_r: hmr_r {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <50>;
            flavor = "balanced";
            hold-trigger-key-positions = <LEFT_KEYS>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            flavor = "tap-preferred";
        };

        hmr_mo: hmr_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_MO";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <75>;
            flavor = "hold-preferred";
        };
        hms: homerow_mods_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";          
            tapping-term-ms = <175>;      // shift는 더 짧게
            quick-tap-ms = <175>;
            require-prior-idle-ms = <100>; // 낮게 설정
            
            bindings = <&kp>, <&kp>;
        };
        /* 엄지 전용 Dual-Role 키 (Tap: 일반 글쇠, Hold: 레이어 전환) */
        lt_th: thumb_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_LT";
            bindings = <&mo>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <160>;
            flavor = "tap-preferred";
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BAS";
            // ------------------------------------------------------------------------------------------------------------
            // |  `    |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   | BSPC  |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BSLH  |
            // |  1/ESC|  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   |    `  |
            //               | GUI | ALT  | CTRL | LOWER|  SPACE |  | RET   | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp GRAVE          &kp N1  &kp N2    &kp N3    &kp N4     &kp N5                                          &kp N6  &kp N7     &kp N8     &kp N9    &kp N0    &kp BSPC
&kp TAB            &kp Q   &kp W     &kp E     &kp R      &kp T                                           &kp Y   &kp U      &kp I      &kp O     &kp P     &kp BSLH
&hmr_mo 1 ESC   &hmr_l LCTRL A  &hmr_l LEFT_WIN S  &hmr_l LEFT_ALT D  &hmr_l LEFT_SHIFT F                 &kp G           &kp H   &hmr_r LEFT_SHIFT J  &hmr_r LEFT_ALT K  &hmr_r LEFT_GUI L  &hmr_r LEFT_CONTROL SEMI  &kp SQT
&kp LEFT_SHIFT     &kp Z   &kp X     &kp C     &kp V      &kp B   &kp C_MUTE                &kp C_MUTE    &kp N   &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp GRAVE
                           &kp LCTRL &kp LGUI  &lt_th 1 ESC &lt_th 3 TAB &lt_th 4 SPACE     &lt_th 5 RET  &lt_th 2 BSPC &lt_th 6 DEL &kp RALT   &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
        raise_layer {
            display-name = "NAV";
            // ------------------------------------------------------------------------------------------------------------
            // |BTCLR| BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |     |      |      |       |       |      |                |      |      |       |      |       |       |
            // |     |      |      |       |       |      |                |  <-  |   v  |   ^   |  ->  |  PG_UP|       |
            // |     |LA(Z) |      |LA(C)  | LA(V) |      |      |  |      | DEL  |      |       |      |PG_DOWN|       |
            //              |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_SEL 4                    &trans     &trans    &trans  &trans     &trans          &trans
&trans      &trans        &trans        &trans        &trans         &trans                          &trans     &trans    &trans  &trans     &trans          &trans
&trans      &kp LCTRL     &kp LGUI      &kp LALT      &kp LEFT_SHIFT &trans                          &kp LEFT   &kp DOWN  &kp UP  &kp RIGHT  &kp CAPS     &trans
&trans      &kp LA(Z)     &trans        &kp LA(C)     &kp LA(V)      &trans        &trans    &trans  &kp HOME   &kp PAGE_UP &kp PAGE_DOWN  &kp END   &trans   &trans
                          &trans        &trans        &trans         &trans        &trans    &trans  &trans     &trans    &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
        lower_layer {
            display-name = "SYM";
            // ------------------------------------------------------------------------------------------------------------
            // | `     |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // | RAISE |   1 |   2 |   3  |   4  |   5  |                   |   6  |   7   |   8   |   9  |    0  |  F12  |
            // |       |     |     |      |      |      |                   │   -  │   =   │   [   │   ]  │   \   │   `   │
            // |       |     |     |      |      |      |        |  |       │   _  │   +   │   {   │   }  │   |   │   ~   │
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&kp GRAVE  &kp F1     &kp F2     &kp F3       &kp F4    &kp F5                       &kp F6     &kp F7    &kp F8           &kp F9     &kp F10   &kp F11
&mo 2      &kp N1     &kp N2     &kp N3       &kp N4    &kp N5                       &kp N6     &kp N7    &kp N8           &kp N9     &kp N0    &kp F12
&trans     &trans     &trans     &trans       &trans    &trans                       &kp MINUS  &kp EQUAL &kp LBKT         &kp RBKT   &kp BSLH  &kp GRAVE
&trans     &trans     &trans     &trans       &trans    &trans     &trans    &trans  &kp UNDER  &kp PLUS  &kp LBRC         &kp RBRC   &kp PIPE  &kp TILDE
                      &trans     &trans       &trans    &trans     &trans    &trans  &trans     &trans    &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
        num_layer {
            display-name = "NUM";
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |       |   1 |   2 |   3  |   4  |   5  |                   |   6  |   7   |   8   |   9  |    0  |  F12  |
            // |       |     |     |      |      |      |                   │   -  │   =   │   [   │   ]  │   \   │   `   │
            // |       |     |     |      |      |      |        |  |       │   _  │   +   │   {   │   }  │   |   │   ~   │
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&trans     &trans     &trans     &trans       &trans    &trans                       &trans     &trans    &trans           &trans     &trans    &trans
&trans     &trans     &trans     &trans       &trans    &trans                       &trans     &kp N7    &kp N8           &kp N9     &trans    &trans
&trans     &trans     &trans     &trans       &trans    &trans                       &trans     &kp N4    &kp N5           &kp N6   &trans  &trans
&trans     &trans     &trans     &trans       &trans    &trans     &trans    &trans  &kp N0     &kp N1    &kp N2           &kp N3   &kp DOT  &trans
                      &trans     &trans       &trans    &trans     &trans    &trans  &trans     &trans    &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
        
        // ------------------------------------------------------------------------------------------------------------
        // Layer 4: MOUSE (마우스 에뮬레이션) — [SPACE] 홀드
        // ------------------------------------------------------------------------------------------------------------
        mouse_layer {
            display-name = "MSE";
            bindings = <
&trans  &trans       &trans          &trans          &trans          &trans                                 &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans       &trans          &trans          &trans          &trans                                 &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans  &trans
&trans  &kp LCTRL    &mkp RCLK       &mkp MCLK       &mkp LCLK       &trans                                 &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans       &trans          &trans          &trans          &trans     &trans        &trans        &trans          &trans          &trans        &trans           &trans  &trans
                     &trans          &trans          &trans          &trans     &trans        &trans        &trans          &trans          &trans        &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        // ------------------------------------------------------------------------------------------------------------
        // Layer 5: FUN (펑션키) — [RET] 홀드
        // ------------------------------------------------------------------------------------------------------------
        fun_layer {
            display-name = "FUN";
            bindings = <
&trans  &trans       &trans       &trans       &trans        &trans                                 &trans    &trans          &trans        &trans        &trans   &trans
&trans  &kp F1       &kp F2       &kp F3       &kp F4        &kp F5                                 &kp F6    &kp F7          &kp F8        &kp F9        &kp F10  &trans
&trans  &kp F11      &kp F12      &trans       &trans        &trans                                 &trans    &kp RIGHT_SHIFT &kp RIGHT_ALT &kp RIGHT_GUI &kp RCTRL &trans
&trans  &trans       &trans       &trans       &trans        &trans     &trans        &trans        &trans    &trans          &trans        &trans        &trans   &trans
                     &trans       &trans       &trans        &trans     &trans        &trans        &trans    &trans          &trans        &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        // ------------------------------------------------------------------------------------------------------------
        // Layer 6: MEDIA (미디어 및 블루투스) — 우측 3번째 [DEL] 홀드
        // ------------------------------------------------------------------------------------------------------------
        media_layer {
            display-name = "MED";
            bindings = <
&trans  &trans       &trans       &trans       &trans        &trans                                 &trans    &trans        &trans        &trans      &trans  &trans
&trans  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &bt BT_CLR                             &trans    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE  &trans  &trans
&trans  &kp LCTRL    &kp LEFT_WIN &kp LEFT_ALT &kp LEFT_SHIFT &trans                                &kp C_PREV &kp C_PP     &kp C_PLAY    &kp C_NEXT  &trans  &trans
&trans  &trans       &trans       &trans       &trans        &trans     &trans        &trans        &trans    &trans        &trans        &trans      &trans  &trans
                     &trans       &trans       &trans        &trans     &trans        &trans        &trans    &trans        &trans        &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
